spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    url: ${DB_URL}
    password: ${DB_PASSWORD}
  jpa:
    properties:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: 'true'
    show-sql: 'true'
    hibernate:
      ddl-auto: none
server:
  port: '8787'
  error:
    include-stacktrace: never
jwt:
  secret: ${SECRET}